/**/__pycache__
*.csv
*.pth 
*.log
*.out
*.npz
*.pkl

*.json
*.tif
.bashrc
.DS_Store

Paranasal_UKAN
MedSAM
dataset2
medSAM_test
models
nnUNet
U-Mamba
mamba
result_com_final
pseudo_mamba
result_swintrans
result_transformer

=1.2.0
new_test_CT/P30/original/.DS_Store
new_test_CT/P30/.DS_Store
new_test_CT/P16/.DS_Store
result_e3_AUFL_DA_cv
result_nnunet
results_e1
results_e3
subset2
HL_results_e56_subset2
result_mamba
tifvolume
Codes/2D_unets/dsu.py
Codes/2D_unets/da_png.py
mamba_commands.sh

U-Mamba/data/*